
@import 'theme/variables';
@import '../../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss';
@import 'functions';
@import 'partials/devices';
@import 'partials/grid';

html {
  font-size: $font-size-base;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: $font-family;
  background-color: $body-bg;
  margin: 0;
  position: relative;
  color: $text-color;
  line-height: $line-height-base;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#app {
  min-height: 100%;
  padding-bottom: $footer-height + 30px;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: darken(color($colors, 'primary'), 10%);
  }
}

img {
  max-width: 100%;
}

header {
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.centered {
  margin: 0 auto;
}

section {
  h2 {
    text-align: center;
    font-weight: normal;
  }
  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    span {
      &.underlined {
        border-bottom: 1px solid;
        padding-bottom: 10px;
      }
    }
  }
  h3 {
    font-weight: normal;
  }
}

.top-marged {
  margin-top: 4rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.green {
  color: green;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    outline: 0;
  }
  @each $color, $value in $colors {
    &.btn-#{$color} {
      color: #fff;
      background-color: $value;
      border-color: $value;
      &:hover {
        background-color: darken($value, 15%);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $container-width) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: $md-breakpoint) {
  section {
    h1 {
      font-size: 2.5rem;
    }
  }
  .container {
    section {
      padding-top: 40px;
    }
  }

  .top-marged {
    margin-top: 7rem;
  }

  .bottom-marged {
    margin-top: 7rem;
  }

  .right-padded {
    padding-left: 3rem;
  }

  .bottom-padded {
    padding-bottom: 3rem;
  }

  .top-padded {
    padding-top: 3rem;
  }
}
