
$material-design-icons-font-path: '../fonts/';
@import '../../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss';
@import 'theme/variables';
@import 'functions';
@import 'partials/devices';
@import 'partials/grid';

html {
  font-size: $font-size-base;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-height: 100%;
  font-family: $font-family;
  background-color: $body-bg;
  margin: 0;
  position: relative;
  color: $text-color;
  line-height: $line-height-base;
}

#app {
  min-height: 100%;
  padding-bottom: $footer-height + 30px;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: darken(color($colors, 'primary'), 10%);
  }
}

img {
  max-width: 100%;
}

header {
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.centered {
  margin: 0 auto;
}

section {
  h2 {
    text-align: center;
  }
  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 2.5rem;
  }
}

.top-marged {
  margin-top: 4rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

@media screen and (min-width: $md-breakpoint) {
  .container {
    section {
      padding-top: 40px;
    }
  }

  .top-marged {
    margin-top: 7rem;
  }

  .bottom-marged {
    margin-top: 7rem;
  }

  .right-padded {
    padding-left: 3rem;
  }

  .bottom-padded {
    padding-bottom: 3rem;
  }

  .top-padded {
    padding-bottom: 3rem;
  }
}
