$body-bg: #fdfdfd;
$text-color: #333;

$footer-height: 100px;

$sm-breakpoint: 549px;
$md-breakpoint: 800px;
$lg-breakpoint: 1000px;

// Typography
$font-family: 'Montserrat', sans-seriff;
$font-size-base: 16px;

$line-height-base: 1.5;
$padding-horizontal-base: 10px;
$padding-vertical-base: 10px;

$header-height: 95px;

// Colors
$colors: (
  primary:    #16bac5,
  secondary:  #63c7b2,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  success:    #5cd65c,
  error:      #ff6666,
  info:       #66ccff
);

// Devices screens
$devices: (
  height-sm: 130px,
  screen-width-sm: 200px,
  phone-width-sm: 70px,
  height-lg: 260px,
  screen-width-lg: 400px,
  phone-width-lg: 135px
);
